body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #3498db, #2ecc71);
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    background-color: #3498db;
    padding: 20px;
    color: #fff;
    text-align: center;
    border-radius: 8px 8px 0 0;
}

.task-container {
    padding: 20px;
}

.add-task {
    display: flex;
    margin-bottom: 20px;
}

.add-task input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px 0 0 4px;
}

.add-task button {
    background-color: #2ecc71;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

.add-task button:hover {
    background-color: #27ae60;
}

ul {
    list-style-type: none;
    padding: 0;
}

.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 15px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.task:hover {
    background-color: #ecf0f1;
}

.task input[type="text"] {
    flex: 1;
    margin-right: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    pointer-events: none; /* Disable direct editing */
}

.task button {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 5px;
}

.task button:hover {
    background-color: #c0392b;
}

.task.completed {
    background-color: #ecf0f1;
    border-color: #bdc3c7;
}

.task.completed input[type="text"] {
    text-decoration: line-through;
    color: #95a5a6;
}

@media screen and (max-width: 600px) {
    .add-task {
        flex-direction: column;
    }

    .add-task input[type="text"] {
        margin-bottom: 10px;
    }
}
